#Foto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: rgb(255, 255, 255) 3px solid;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(59, 59, 59);
    color: white;
}
#Quadrado{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(43, 82, 105);
}
.links{
    color: rgb(0, 255, 234);
    text-decoration: none;
}
#lista{
    text-align: left;
}
#tentativa{
    background-color: blueviolet;
    width: 550px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}